body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}


@font-face {
	font-family: 'Old Newspaper Types';
	src: url('./fonts/OldNewspaperTypes.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	src: url('./fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
}


/* H1 in CodeMirror/Live Preview */
.HyperMD-header.HyperMD-header-1.cm-line, .inline-title {
	width: 100% !important;
	background-color: black !important;
	text-align: center !important;
	padding: 1em 0em !important;
	display: block !important;
}

.HyperMD-header.HyperMD-header-1, .inline-title  {
	font-family: 'OldNewspaperTypes', serif !important;
	color: white !important;
	display: block !important;
	text-align: center !important;
	
}

.inline-title {
	font-size: 3em !important;
}

.HyperMD-header.HyperMD-header-1 .cm-header.cm-header-1 {
	font-family: 'OldNewspaperTypes', serif !important;
	color: white !important;
	font-size: 1.5em !important;
}

/* H2 in CodeMirror/Live Preview */
.HyperMD-header.HyperMD-header-2 {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 700 !important;
	text-transform: uppercase !important;
}

.HyperMD-header.HyperMD-header-2 .cm-header.cm-header-2 {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 700 !important;
	text-transform: uppercase !important;
}

/* Hide inline-title in embedded blocks */
.markdown-embed .inline-title,
.internal-embed .inline-title {
	display: none !important;
}
